video {
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
    outline:10px solid rgb(245, 248, 252);
    outline-offset: -2rem;
}
.large-logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
;
}
.hero-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}


