video {
    object-fit: contain;
    display: block;
    width: 100%;
    max-width: 100%;
    height: max(43em, min(4em, calc(30vw * 4 / 75)));
    max-height: 100%;
    object-fit: cover;
    z-index: -1;
    
}

.large-logo {
    object-fit: contain;
    width: 100%;
    height: max(43em, min(4em, calc(30vw * 4 / 75)));
    max-height: 1080px;
    z-index: 5;
    position: absolute;

;
}
.hero-container {


    background-color: #242424;

}


